<h1>{{newsletter.name}}</h1>

<div>
    {{newsletter.content|raw}}
</div>

<p>Bienvenue {{user.name}}, Vous recevez cet email car vous êtes abonné aux newsletters : {{newsletter.categories.name}}</p>.
Ce n’est pas du SPAM :)</p>


<p>Pour vous désinscrire, cliquez sur ce lien <a href="{{ absolute_url(path('newsletters_unsubscribe', {id: user.id, newsletter:newsletter.id, token: user.validationToken})) }}">ici</a></p>